<form (ngSubmit)="onUpdateAccountNamesSubmit()">
    <div class="form-row">
        <div class="form-group col-6 mt-3 p-2">
            <mat-form-field class="w-100" *ngIf="updateAccountNamesModel; else loadingFieldTemplate">
                <mat-label>First name</mat-label>
                <input matInput name="firstname" [(ngModel)]="updateAccountNamesModel.firstname">
            </mat-form-field>
        </div>

        <div class="form-group col-6 mt-3 p-2">
            <mat-form-field class="w-100" *ngIf="updateAccountNamesModel; else loadingFieldTemplate">
                <mat-label>Last name</mat-label>
                <input matInput name="lastname" [(ngModel)]="updateAccountNamesModel.lastname">
            </mat-form-field>
        </div>

    </div>

    <button mat-raised-button type="submit">
        Update name
    </button>

</form>

<ng-template #loadingFieldTemplate>
    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
</ng-template>