.nav-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: #21212125 solid 1px;
}

.menu-spacer {
    flex: 1 1 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    border-radius: 0;

    padding: 25px 0px 25px 20px;

    mat-icon {
        margin-right: 15px;
        overflow: unset;
    }

    span {
        white-space: nowrap;
        opacity: 0.8;
    }
}

.nav-link-active {
    background-color: #21212120;
}

/*@media (width <= 750px) {
    .nav-item {
        min-width: auto;
        padding-right: 0;
        span {
            display: none;
        }
    }
}*/