<app-header></app-header>
<main class="m-4" fadeInContent>
    <section id="developers">
      <h3>Developers</h3>
      <p>KeeperCloud also offers an API for developers to easily integrate file storage and sharing capabilities into their own applications or servers.</p>
      <p>Our API documentation and support resources make it easy for developers to get started and build with KeeperCloud.</p>
      <h4>Sample JavaScript Code</h4>
      <p>Here is a sample JavaScript snippet that demonstrates how to use the KeeperCloud API to upload a file:</p>
      <app-code-highlighter [formatCode]="codeSnippet"></app-code-highlighter>
    </section>
  </main>
<app-footer></app-footer>
