<form class="d-flex flex-column" #loginForm="ngForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="email address" type="email" name="email" [(ngModel)]="signInForm.email" minlength="5" maxlength="256" #emailField="ngModel" required>
      <mat-error *ngIf="emailField.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field class="mt-3">
      <input matInput placeholder="password" type="password" name="password" [(ngModel)]="signInForm.password" minlength="5" maxlength="50" #passwordField="ngModel" required>
      <mat-error *ngIf="passwordField.invalid">Please enter a password.</mat-error>
    </mat-form-field>

    <mat-checkbox class="mb-2" name="rememberMe" [(ngModel)]="signInForm.rememberMe">Remember me</mat-checkbox>

    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>