<div class="container mt-5 mb-5" fadeInContent>
    <h1 class="mb-5">Pricing</h1>
    <p>
        Welcome to the KeeperCloud pricing page. We offer three plans to fit the
        needs of different types of users. All plans include unlimited file
        transfers and 24/7 customer support. Choose the plan that best fits your
        needs:
    </p>

    <!-- Basic plan -->
    <div class="row mt-5 align-items-stretch">
        <div class="position-relative col-12 col-md-4 mb-3">
            <mat-card class="h-100 p-4">
                <mat-card-title class="mb-4">Basic</mat-card-title>
                <mat-card-content>
                    <h2>$5/month</h2>
                    <ul>
                        <li>10GB storage</li>
                        <li>20GB bandwidth</li>
                        <li>1 user</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="position-absolute top-0 end-0 m-3" color="primary">
                        Join
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <!-- Pro plan -->
        <div class="position-relative col-12 col-md-4 mb-3">
            <mat-card class="h-100 p-4">
                <mat-card-title class="mb-4">Pro</mat-card-title>
                <mat-card-content>
                    <h2>$10/month</h2>
                    <ul>
                        <li>50GB storage</li>
                        <li>100GB bandwidth</li>
                        <li>5 users</li>
                        <li>Priority support</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="position-absolute top-0 end-0 m-3" color="primary">
                        Join
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <!-- Business plan -->
        <div class="position-relative col-12 col-md-4 mb-3">
            <mat-card class="h-100 p-4">
                <mat-card-title class="mb-4">Business</mat-card-title>
                <mat-card-content>
                    <h2>$20/month</h2>
                    <ul>
                        <li>100GB storage</li>
                        <li>500GB bandwidth</li>
                        <li>25 users</li>
                        <li>Priority support</li>
                        <li>Custom branding</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="position-absolute top-0 end-0 m-3" color="primary">
                        Join
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>