<app-default-layout>
  <div class="container mb-5 mt-5">
    <h1 class="mb-5">Contact Us</h1>
    <p>Thank you for visiting KeeperCloud. If you have any questions or would like more information about our services, please don't hesitate to get in touch.</p>
    <p>You can reach us by filling out the form below. We look forward to hearing from you</p>
    <form class="d-flex flex-column mt-5">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Enter your message"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
  </div>
</app-default-layout>
