<app-header></app-header>
<main class="m-4" fadeInContent>
    <h1>Contact</h1>
    <p>Get in touch with us!</p>
    <form action="#" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="message">Message:</label><br>
      <textarea id="message" name="message"></textarea><br>
      <input type="submit" value="Submit">
    </form>
</main>
<app-footer></app-footer>