.sidenav-repositories {
    padding: 5px;
    min-height: 100%;
    box-shadow: #212121 0px 0px 5px;
}

.no-repos-found {
    text-align: center;
    margin-top: 30px;

    p {
        font-weight: 500;
    }
}