<div class="sidenav-repositories">
    <ng-container *ngIf="repositoriesState$ | async as repositoriesState">

        <ng-container *ngIf="repositoriesState.repositories.length > 0; else noReposTemplate">
            <a mat-button class="nav-item" *ngFor="let repository of repositoriesState.repositories"
                [routerLink]="'/client/repository/' + repository.id" routerLinkActive="nav-link-active"
                [matTooltip]="repository.name"
                matTooltipShowDelay="500">
                <mat-icon [class.text-success]="repository.allowAnonymousFileRead"
                    [class.text-danger]="!repository.allowAnonymousFileRead"
                    [innerText]="repository.allowAnonymousFileRead ? 'lock_open' : 'lock_outline'"></mat-icon>
                <span>{{repository.name}}</span>
            </a>

            <ng-container *ngIf="repoBatchInfo$ | async as repoFileBatchInfo">
                <div *ngIf="repoFileBatchInfo.canLoadMore" class="d-flex justify-content-center">
                    <button mat-button [appAsyncButton]="[this, loadMoreRepositories]" class="mt-3 mb-3" color="primary">
                        Load more ({{repoFileBatchInfo.HowMuchLeft}})
                    </button>
                </div>
            </ng-container>

        </ng-container>

    </ng-container>

    <ng-template #noReposTemplate>
        <div class="no-repos">
            <p>No repositories</p>
        </div>
    </ng-template>

</div>