.download-upload-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    border-radius: 10px 0px 0px 0px;
    z-index: 2;
    background-color: #fff;
    box-shadow: #21212150 0px 0px 20px;

    user-select: none;

    .title {
        border-radius: 10px 0px 0px 0px;
        display: flex;
        justify-content: flex-end;
        background-color: #212121;
        color: #fff;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            border-radius: 0px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0px 10px 0px 10px;
    }
}

.error-message {
    font-size: 0.8rem;
    color: #b61515;
    word-break: break-word;
}

.success-color {
    color: #00cc90;
}

.error-color {
    color: #b61515;
}