<div class="menu-container d-flex flex-column flex-shrink-0 p-3 bg-light h-100">
    <div class="fs-5">Manage access</div>
    <div class="fs-5 fw-lighter m-1">Api members</div>
    <div class="fs-4 fw-lighter m-3">You have {{apiMembersCount}} api member(s)</div>
    <button mat-flat-button class="m-3" color="primary" (click)="clickAddApiMember.emit()">Add Api Member</button>
    <mat-divider class="mt-4 mb-4"></mat-divider>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <button mat-flat-button color="accent" class="d-flex justify-content-center w-100 mb-2"
                (click)="toggleAllowAnonymousFileRead.emit(!repository.allowAnonymousFileRead)">
                <span [innerText]="repository.allowAnonymousFileRead ? 'Close repository' : 'Open repository'"></span>
            </button>
            <p class="d-flex align-items-center mt-3 mb-3">
                <span class="me-1">Repository is</span>
                <b class="me-1" [innerText]="repository.allowAnonymousFileRead ? 'Open' : 'Closed'"></b>
                <mat-icon [class.text-success]="repository.allowAnonymousFileRead"
                    [class.text-danger]="!repository.allowAnonymousFileRead"
                    [innerText]="repository.allowAnonymousFileRead ? 'lock_open' : 'lock_outline'"></mat-icon>
            </p>
            <small class="text-secondary">
                By enabling this option everyone will be able to download files from this
                repository by specifying the repository id and file id, without any authentication.
            </small>
        </li>
    </ul>
</div>