.drag-selection-area {
    background-color: #fff;
    height: 100%;
    user-select: none;

    ::ng-deep .row-selected:hover {
        background-color: #2e70ff20;
    }
    
    ::ng-deep .row-selected {
        background-color: #2e70ff20;
    }
}

.drag-selection-container {
    position: relative;
    display: block;
    height: 100%;
}

.drag-selection-rectangle {
    position: absolute;
    background-color: #2e70ff20;
    border: 1px dashed #2e70ff;
    pointer-events: none;

    &.hide-border {
        border: none;
    }
}

cdk-virtual-scroll-viewport {
    position: relative;
    display: unset !important;

    ::ng-deep .cdk-virtual-scroll-content-wrapper {
        position: static;
    }
}

.mat-column-name {
    flex: 0 0 50%;
    word-break: break-all;
}

.mat-column-size, .mat-column-dateModified {
    flex: 0 0 25%;
}