<mat-toolbar class="toolbar-header" color="primary">
    <mat-toolbar-row>
      <span class="d-flex align-items-center me-5" routerLink="/home" role="button">
          {{navData.menuTitle}}
          <mat-icon class="ms-2">cloud_queue</mat-icon>
      </span>
  
      <ng-container>
          <a  *ngFor="let link of navData.commonLinks"
              [routerLink]="link.path"
              routerLinkActive="nav-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
              mat-button
              class="ms-4 d-flex align-items-center">

              <mat-icon>{{link.icon}}</mat-icon>
              <span>{{ link.label }}</span>

          </a>
      </ng-container>
  
      <span class="header-spacer"></span>
      

      <ng-container *ngIf="authUser$ | async as authUser">
        <ng-container *ngIf="authUser.isUserLoggedIn; else conditionSpinnerTemplate;">
            <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
                {{authUser.user?.username}}
                <mat-icon>person_filled</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item *ngFor="let clientLink of navData.clientLinks" [routerLink]="clientLink.path">
                    <mat-icon>{{clientLink.icon}}</mat-icon>
                    <span>{{clientLink.label}}</span>
                </button>
                
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>
        </ng-container>

        <ng-template #conditionSpinnerTemplate>
            <ng-container *ngIf="authUser.stateStatus == 'loading'">
                <mat-spinner class="me-3 white-spinner" mode="indeterminate" diameter="30"></mat-spinner>
            </ng-container>
            
        </ng-template>

      </ng-container>

      

    </mat-toolbar-row>
  </mat-toolbar>
  
  