html, body { 
    min-height: 100vh;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    &::-webkit-scrollbar {
        width: 0.4em;
    }
       
    &::-webkit-scrollbar-track {
        background-color: #777;
    }
       
    &::-webkit-scrollbar-thumb {
        background-color: #444;
    }
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b7aff;
    color: white;
    font-size: 32px;
    transition: 200ms ease-in;
    transition-property: opacity, visibility;
    opacity: 1;

    z-index: 9999;
    visibility: visible;

    animation: blink 2s ease-in-out infinite;

    @keyframes blink {
        50% {
          background-color: #3b7acc;
        }
      }
  
    &.fade-out {
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }
}
  
.custom-spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #66b3ff;
    border-top-color: #fff;
    animation: spinner 0.6s linear infinite;

    @keyframes spinner {
        to {
        transform: rotate(360deg);
        }
    }
}
  
.success-snackbar {

    >.mdc-snackbar__surface {
        background: #11832a !important;
    }

    .mat-mdc-snack-bar-label, .mdc-button__label {
        color: #ffffff !important;
    }
    
}

.error-snackbar {

    >.mdc-snackbar__surface {
        background: #e65050 !important;
    }

    .mat-mdc-snack-bar-label, .mdc-button__label {
        color: #ffffff !important;
    }
    
}

.primary-snackbar {

    >.mdc-snackbar__surface {
        background: #3b7aff !important;
    }

    .mat-mdc-snack-bar-label, .mdc-button__label {
        color: #ffffff !important;
    }
    
}

.white-spinner {
    --mdc-circular-progress-active-indicator-color: #fff;
}