html, body { 
    min-height: 100vh;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-static-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity: 0;

    animation-name: invisible-to-visible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;

    @keyframes invisible-to-visible {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .spinner-border {
        width: 5rem;
        height: 5rem;
    }

    .spinner-border, h3 {
        color: #ebebeb;
    }

    h3 {
        margin: 30px;
        font-weight: 300;
    }
}


  
.success-snackbar {

    >.mdc-snackbar__surface {
        background: #11832ac0 !important;
    }

    .mat-mdc-snack-bar-label, .mdc-button__label {
        color: #ffffff !important;
    }
    
}

.primary-snackbar {

    >.mdc-snackbar__surface {
        background: #3b7aff !important;
    }

    .mat-mdc-snack-bar-label, .mdc-button__label {
        color: #ffffff !important;
    }
    
}