.nav-item {
    display: flex;
    justify-content: flex-start;
    border-radius: 0;

    padding: 25px 0px 25px 20px;

    mat-icon {
        margin-right: 15px;
        overflow: unset;
    }

    span {
        white-space: nowrap;
        opacity: 0.8;
    }
}

.nav-link-active {
    background-color: #21212120;
}

.no-repos {
    margin: 30px;
    font-size: 1.2rem;
    text-align: center;
}