<div *ngIf="repository$ | async as repository; else errorTemplate">

    <app-repository-info [repository]="repository"></app-repository-info>

    <app-search-file-input (searchSubmit)="onSearchSubmit($event)"></app-search-file-input>

    <div class="container mt-3 mb-3">
        <app-table-file-display [files]="(repositoryFiles$ | async)!"></app-table-file-display>

        <ng-container *ngIf="repoFileBatchInfo$ | async as repoFileBatchInfo">
            <div *ngIf="repoFileBatchInfo.canLoadMore" class="d-flex justify-content-center">
                <button mat-button class="mt-3 mb-3" color="primary" (click)="onLoadMoreFiles(repository.id)">Load more ({{repoFileBatchInfo.HowMuchLeft}})</button>
            </div>
        </ng-container>
        
    </div>
    
</div>

<ng-template #errorTemplate>
    error loading
</ng-template>