<ng-container *ngIf="repository$ | async as repository">
    <ng-container *ngIf="repositoryFileState$ | async as repositoryFileState">
        <div class="d-flex flex-column p-0 h-100" fadeInContent *ngIf="repositoryFileState.files != null">
            

            <app-search-file-input (searchSubmit)="onSearchSubmit($event)" #searchFileInput></app-search-file-input>

            <!--<button mat-flat-button color="primary" class="w-100 rounded-0" (click)="triggerFileUpload.emit()">Select files for upload</button>-->
            
            <app-file-upload-input class="d-block h-100" [triggerUpload]="triggerFileUpload" (filesChange)="onFilesChangeUpload($event, repository.id)">
                <app-table-file-display class="d-block h-100" [files]="(repositoryFiles$ | async)!"
                    (filesDownload)="onDownloadFiles($event, repository.id)"
                    (filesDelete)="onDeleteFiles($event, repository.id)"></app-table-file-display>
            </app-file-upload-input>

            <ng-container *ngIf="repoFileBatchInfo$ | async as repoFileBatchInfo">
                <div *ngIf="repoFileBatchInfo.canLoadMore" class="d-flex justify-content-center bg-white">
                    <button mat-button class="mt-3 mb-3" color="primary" (click)="onLoadMoreFiles(repository.id)">
                        Load more ({{repoFileBatchInfo.HowMuchLeft}})
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>