<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog.log">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}| ${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		
	</targets>

	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
		<logger name="System.Net.Http.*" final="true"/>
		<logger name="Program" writeTo="allfile" final="true" />
		<logger name="Keeper.*" writeTo="allfile" final="true" />
		<logger name="*" minlevel="Warn" writeTo="allfile" />
	</rules>
</nlog>