.client-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .client-toolbar {
        padding: 16px;
    }
}

.main-content {
    flex-grow: 1;
}

.nav-list-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 200px;
}

.flex-spacer {
    flex: 1 1 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.client-layout ::ng-deep .nav-item {
    display: flex;
    align-items: center;

    padding-right: 60px;

    mat-icon {
        margin-right: 15px;
        overflow: unset;
    }

    span {
        opacity: 0.8;
    }
}

.client-layout ::ng-deep .nav-link-active {
    background-color: #21212120;
}