<main class="client-layout">
    <mat-toolbar color="accent">
        
        <button mat-icon-button class="me-2" (click)="sidenav.toggle()">
            <mat-icon [innerText]="sidenav.opened ? 'close' : 'menu'"></mat-icon>
        </button>

        <span class="d-flex align-items-center me-5" routerLink="/client" role="button">
            {{navigationData.menuTitle}}
            <mat-icon class="ms-2">cloud_queue</mat-icon>
        </span>
    
        <span class="header-spacer"></span>

    </mat-toolbar>
    <mat-sidenav-container class="main-content">
    
        <mat-sidenav [autoFocus]="false" mode="push" #sidenav>
          <mat-nav-list class="d-flex flex-column h-100">
            
            <a mat-list-item
               *ngFor="let link of navigationData.clientSideNavLinks"
               [routerLink]="link.path"
               routerLinkActive="nav-link-active"
               [routerLinkActiveOptions]="{ exact: true }">
                <div class="nav-item">
                    <mat-icon>{{link.icon}}</mat-icon>
                    <span>{{link.label}}</span>
                </div>
            </a>

            <span class="header-spacer"></span>

            <hr class="bottom-border">

            <a mat-list-item *ngFor="let link of navigationData.clientSideNavBottomLinks" [routerLink]="link.path">
                <div class="nav-item">
                    <mat-icon>{{link.icon}}</mat-icon>
                    <span>{{link.label}}</span>
                </div>
            </a>
            <a mat-list-item (click)="logout()">
                <div class="nav-item">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </div>
            </a>
          </mat-nav-list>
        </mat-sidenav>
      
        <mat-sidenav-content class="p-4">
    
            <ng-content></ng-content>
    
        </mat-sidenav-content>
    
    </mat-sidenav-container>
</main>
