<div class="container pt-5" fadeInContent>
    <h1 class="mb-4">Page Not Found</h1>
    <h5 class="mb-5">Sorry, the page you are looking for could not be found.</h5>
    <mat-card>
        <mat-card-content>
            <p>Here are some options:</p>
            <ul>
                <li>Double-check the URL</li>
                <li>Go to the <a routerLink="/">home page</a></li>
                <li>Contact us for help</li>
            </ul>
        </mat-card-content>
    </mat-card>

    <div class="mt-5">
        <p>Or, you can wait for the countdown timer to expire:</p>
        <p *ngIf="redirectCountDown$ | async as remainder">
            Redirecting to home page in <b>{{ remainder }}</b> seconds...
        </p>
    </div>
</div>