<ng-container *ngIf="(isVisible$ | async) == 'open'">
    <div class="download-upload-window">
        <div class="title">
            <button mat-flat-button color="primary" *ngIf="fileTransferState$ | async as fileTransferState" (click)="closeTab(fileTransferState)">
                <mat-icon>close</mat-icon>
                <span>Close</span>
            </button>
        </div>
        <ng-container *ngIf="downloadState$ | async as downloadState">
            <div class="body" *ngIf="downloadState.files.length > 0">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span>Downloading {{downloadState.files.length}} file(s) ({{downloadState.files | convertFilesSizeToString}})...</span>
                    <mat-icon class="success-color" *ngIf="downloadState.status == 'done'">done</mat-icon>
                    <mat-icon class="error-color" *ngIf="downloadState.status == 'error'">error</mat-icon>
                </div>
                <mat-progress-bar *ngIf="downloadState.status == 'downloading'" mode="determinate" [value]="downloadState.progress"></mat-progress-bar>
                <div class="error-message" *ngIf="downloadState.status == 'error'" [innerText]="downloadState.error"></div>
                
            </div>
        </ng-container>

        <ng-container *ngIf="uploadState$ | async as uploadState">
            <div class="body" *ngIf="uploadState.files.length > 0">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span>Uploading {{uploadState.files.length}} file(s) ({{uploadState.files | convertUploadFilesSizeToString}})...</span>
                    <mat-icon class="success-color" *ngIf="uploadState.status == 'done'">done</mat-icon>
                    <mat-icon class="error-color" *ngIf="uploadState.status == 'error'">error</mat-icon>
                </div>
                <mat-progress-bar *ngIf="uploadState.status == 'uploading'" mode="determinate" [value]="uploadState.progress"></mat-progress-bar>
                <div class="error-message" *ngIf="uploadState.status == 'error'" [innerText]="uploadState.error"></div>
            </div>
        </ng-container>
        
    </div>
</ng-container>
