.toolbar-header {
    position: relative;
    z-index: 2;
}

.header-spacer {
    flex: 1 1 auto;
}

.custom-mat-panel {
    //padding: 10px;
    margin: 10px;
    background: transparent;
    box-shadow: none;

    .mat-expansion-panel-header:hover {
        background-color: #ffffff05;
    }

    mat-panel-title {
        color: #fff;
    }

    ::ng-deep .mat-expansion-indicator::after {
        color: #fff;
    }
}

.responsive-column-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #212121;

    a {
        display: flex;
        align-items: center;
        padding: 10px;
        outline: none;
        text-decoration: none;
        color: #fff;
        margin: 5px 10px;
        border-radius: 5px;
        
        span {
            margin-left: 20px;
        }

        &:hover {
            background-color: #ffffff05;
        }

        &.nav-link-active {
            background-color: #ffffff20;
        }
    }
}