.default-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}